li{
  list-style: none;
  padding: 6px;
  cursor: pointer;
  transition: all 400ms ease;
}
li:hover{
  text-decoration: underline;

}

.nav--menu--alt{
  display: none;
  width:"90%";
  
}
.nav--menu--alt.active{
  display: block;
}
